@model Entities.Configuration.Identity.User.AuthenticatedUserInfo

    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="#">
                <img src="~/images/users/@Model.ProfileImage" alt="@Model.UserName" style="width: 150px; height: 175px;" />
            </a>
            <h3>@Model.FirstName @Model.LastName</h3>
            <p>
                @Model.UserRoles[0]
            </p>
            <strong>@Model.FirstName[0]@Model.LastName[0]</strong>
        </div>
        <div class="left-custom-menu-adp-wrap">
            <ul class="nav navbar-nav left-sidebar-menu-pro">
                <li class="nav-item">
                    <a href="@Url.ActionLink("Dashboard", "Sort")" class="nav-link"><i class="fa big-icon fa-home"></i> <span class="mini-dn">Sort Dashboard</span> </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.ActionLink("SortErrorLog", "Automation")" class="nav-link"><i class="fa big-icon fa-exclamation-triangle"></i> <span class="mini-dn">Automation Errors</span> </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.ActionLink("SortHistory", "Automation")" class="nav-link"><i class="fa big-icon fa-flask"></i> <span class="mini-dn">Automation History</span> </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.ActionLink("Settings", "Automation")" class="nav-link"><i class="fa big-icon fa-pie-chart"></i> <span class="mini-dn">Automation Settings</span> </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.ActionLink("ClassificationDashboard", "Sort")" class="nav-link"><i class="fa big-icon fa-table"></i> <span class="mini-dn">Classifications</span> </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.ActionLink("Overview", "Storage")" class="nav-link"><i class="fa big-icon fa-pie-chart"></i> <span class="mini-dn">Storage & Disks</span> </a>
                </li>
                @*<li class="nav-item">
            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-files-o"></i> <span class="mini-dn">Pages</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
            <div role="menu" class="dropdown-menu left-menu-dropdown pages-left-menu-std animated flipInX">
                <a href="login.html" class="dropdown-item">Login</a>
                <a href="register.html" class="dropdown-item">Register</a>
                <a href="captcha.html" class="dropdown-item">Captcha</a>
                <a href="checkout.html" class="dropdown-item">Checkout</a>
                <a href="contact.html" class="dropdown-item">Contacts</a>
                <a href="review.html" class="dropdown-item">Review</a>
                <a href="order.html" class="dropdown-item">Order</a>
                <a href="comment.html" class="dropdown-item">Comment</a>
            </div>
        </li>*@
            </ul>
        </div>
    </nav>