@model Entities.Data.EF_Core.DatabaseEntities.TelevisionEpisode

    <div>

        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Admin Log Details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>

        <div>
            <h4>@Model.EpisodeName - Episode Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EpisodeNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EpisodeNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EpisodeName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EpisodeName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EpisodePath)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EpisodePath)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ImdbId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ImdbId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TvMazeId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TvMazeId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TheMovieDbId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TheMovieDbId)
                </dd>
            </dl>
        </div>
</div>
