@model Entities.Data.EF_Core.DatabaseEntities.TelevisionShow

@{
    ViewData["Title"] = "ShowOverview";
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
    ViewBag.ShowInfo.poster_path = "http://image.tmdb.org/t/p/w300" + ViewBag.ShowInfo.poster_path;
}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <span class="navbar-brand" href="#">Television Shows -> @Html.DisplayFor(model => model.ShowName)</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        </ul>
    </div>
</nav>

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h2>&nbsp;</h2>
            <img data-toggle="modal" data-target="#modalYT" src="@ViewBag.ShowInfo.poster_path" />
            <p>&nbsp;</p>
            <h4>
                <img src="https://pngimage.net/wp-content/uploads/2018/05/calendario-icono-png-9.png"
                     height="30" width="30" />
                Next Episode Airing:
            </h4>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wednesday, January 8, 2020
            </p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="https://secure.webtoolhub.com/static/resources/icons/set150/1a69809e.png" height="25" width="25" />
                        Series Cast/Crew
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="https://iconsplace.com/wp-content/uploads/_icons/fa8072/256/png/high-importance-icon-15-256.png" height="25" width="25" />
                        Mark as Priority
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">IMDB Show Page</a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h1 class="text-center">@Html.DisplayFor(model => model.ShowName)</h1>

            <h5>Show Overview</h5>
            <p>
                @ViewBag.ShowInfo.overview
            </p>
            <br>
            <b>Episode Runtime: </b>60 minutes<br>
            <b>Series Genre: </b>
            @if(ViewBag.ShowInfo.genres != null)
            {
            @foreach (var genre in ViewBag.ShowInfo.genres)
                {
            @genre.name
                }
            }
            <br>
            <b>Premiere Date: </b>@ViewBag.ShowInfo.first_air_date<br>
            <b>Airing Status: </b>
            <br>
            <b>Last Episode: </b><br>
            <br>
            <h5>Library Comparison <b style="font-size: 12px;">[Missing: 1 season; 4 episodes]</b></h5>
            <div>
                <!-- Tabcontrol goes here, tabheader for each season, then Grid for episodes on each tab -->
                <div class="container">
                    <div class="container">
                        <ul class="nav nav-tabs" id="seasonTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="season1-tab" data-toggle="tab" href="#season1" role="tab" aria-controls="season1"
                                   aria-selected="true"><del>Season 1</del></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="season2-tab" data-toggle="tab" href="#season2" role="tab" aria-controls="season2"
                                   aria-selected="false">Season 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="season3-tab" data-toggle="tab" href="#season3" role="tab" aria-controls="season3"
                                   aria-selected="false">Season 3</a>
                            </li>
                        </ul>
                        <div class="row">
                            @*Show tabs of missing episodes and seasons*@
                            <div class="tab-content" id="seasonTabContent">
                                <div class="tab-pane fade show active" id="season1" role="tabpanel" aria-labelledby="season1-tab">
                                    <table id="season1-dt" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="th-sm">
                                                    Episode #
                                                </th>
                                                <th class="th-sm">
                                                    Name
                                                </th>
                                                <th class="th-sm">
                                                    Air Date
                                                </th>
                                                <th class="th-sm">
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Episode 1</td>
                                                <td>January 01, 2020</td>
                                                <td>
                                                    <i class='fas fa-plus' style='font-size:24px;color:green; padding-right: 20px;' data-toggle="modal" data-target="#AddMissingEpisodeModal"></i>
                                                    <i class='fas fa-minus' style='font-size:24px;color:red'></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Episode 2</td>
                                                <td>January 08, 2020</td>
                                                <td>
                                                    <i class='fas fa-plus' style='font-size:24px;color:green; padding-right: 20px;' data-toggle="modal" data-target="#AddMissingEpisodeModal"></i>
                                                    <i class='fas fa-minus' style='font-size:24px;color:red'></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Episode 3</td>
                                                <td>January 15, 2020</td>
                                                <td>
                                                    <i class='fas fa-plus' style='font-size:24px;color:green; padding-right: 20px;' data-toggle="modal" data-target="#AddMissingEpisodeModal"></i>
                                                    <i class='fas fa-minus' style='font-size:24px;color:red'></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Episode 4</td>
                                                <td>January 22, 2020</td>
                                                <td>
                                                    <i class='fas fa-plus' style='font-size:24px;color:green; padding-right: 20px;' data-toggle="modal" data-target="#AddMissingEpisodeModal"></i>
                                                    <i class='fas fa-minus' style='font-size:24px;color:red'></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Episode 5</td>
                                                <td>January 29, 2020</td>
                                                <td>
                                                    <i class='fas fa-plus' style='font-size:24px;color:green; padding-right: 20px;' data-toggle="modal" data-target="#AddMissingEpisodeModal"></i>
                                                    <i class='fas fa-minus' style='font-size:24px;color:red'></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade" id="season2" role="tabpanel" aria-labelledby="season2-tab">
                                    <table id="season2-dt" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="th-sm">
                                                    Episode #
                                                </th>
                                                <th class="th-sm">
                                                    Name
                                                </th>
                                                <th class="th-sm">
                                                    Air Date
                                                </th>
                                                <th class="th-sm">
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Episode 1</td>
                                                <td>February 05, 2020</td>
                                                <td>
                                                    <i class='fas fa-plus' style='font-size:24px;color:green; padding-right: 20px;'></i>
                                                    <i class='fas fa-minus' style='font-size:24px;color:red'></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Episode 3</td>
                                                <td>February 19, 2020</td>
                                                <td>
                                                    <i class='fas fa-plus' style='font-size:24px;color:green; padding-right: 20px;'></i>
                                                    <i class='fas fa-minus' style='font-size:24px;color:red'></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Episode 4</td>
                                                <td>February 26, 2020</td>
                                                <td>
                                                    <i class='fas fa-plus' style='font-size:24px;color:green; padding-right: 20px;'></i>
                                                    <i class='fas fa-minus' style='font-size:24px;color:red'></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="season3" role="tabpanel" aria-labelledby="season3-tab">
                                    <table id="season3-dt" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="th-sm">
                                                    Episode #
                                                </th>
                                                <th class="th-sm">
                                                    Name
                                                </th>
                                                <th class="th-sm">
                                                    Air Date
                                                </th>
                                                <th class="th-sm">
                                                    Actions
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>5</td>
                                                <td>Episode 5</td>
                                                <td>April 02, 2020</td>
                                                <td>
                                                    <i class='fas fa-plus' style='font-size:24px;color:green; padding-right: 20px;'></i>
                                                    <i class='fas fa-minus' style='font-size:24px;color:red'></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Video Modal code*@
    <!--Modal: modalYT-->
    <div class="modal fade" id="modalYT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

            <!--Content-->
            <div class="modal-content">

                <!--Body-->
                <div class="modal-body mb-0 p-0">
                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                            data-dismiss="modal">
                        Close
                    </button>

                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U"
                                allowfullscreen></iframe>
                    </div>

                </div>

            </div>
            <!--/.Content-->

        </div>
    </div>
    <!--Modal: modalYT-->

    <!-- Modal Add Missing Episode for automation -->
    <div class="modal fade" id="AddMissingEpisodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Automated Content Discovery Queue (ACDQ)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------->

</div>
