@model Entities.Logging.AdministratorLog

<div>

    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Admin Log Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>


    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageDate)
        </dd>

    </dl>
</div>  